.history-table {
    width: 100%;
    float: left;
    height: 100%;
    text-align: left;
    border-collapse: collapse;
}

.history-header-row {
    background-color: rgb(144, 144, 252);
    color: white;
    text-align: left;
    height: 40px;
    font-weight: bold;
    padding: 5px;
}

.history-row {
    height: 40px;
    &:nth-child(odd) {
        background-color: #f2f2f2;
    }
}