.left {
    width: 50%;
    float:left;
    text-align: center;
    background-color: cyan;
    opacity: 0.2;
    line-height: 100px;
    border-radius: 4px;
    border: 1px solid cyan;
}

.right {
    width: 50%;
    float:right;
    text-align: center;
    background-color: lightgreen;
    opacity: 0.2;
    line-height: 100px;
    border-radius: 4px;
    border: 1px solid lightgreen;
}