.container-text {
    color: black;
    padding-left: 10px;
}

.left {
    width: 45%;
    float:left;
    text-align: left;
    background-color: cyan;
    line-height: 10px;
    border-radius: 4px;
    border: 1px solid black;
    height: 60px;
}

.right {
    width: 45%;
    float:right;
    text-align: left;
    background-color: lightgreen;
    line-height: 10px;
    border-radius: 4px;
    border: 1px solid black;
    height: 60px;
}